body {
    background-color: rgb(70, 142, 236);
    font-family: Arial, Helvetica, sans-serif;
    font: normal 15pt Arial;
}

header {
    color: #fdeeee;
    text-align: center;
}

section {
    background-color: #fdeeee;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

div p input {
    margin-left: 8px;
}

div p {
    display: flex;
    justify-content: center;
}

select#seltab {
    width: 500px;
    margin: 8px 0;
    padding: 4px;
}

footer {
    color: #fdeeee;
    text-align: center;
    font-style: italic;
}

footer a {
    margin: 8px;
}